<header class="header">
  <div class="wrapper">
    <div class="header__section">
      <a href="#" class="header__logo"><img src="@img/logo_ok.png" alt=""></a>
      <nav class="header__nav nav">
        <a href="" class="nav__link link">Заявки на дизайн</a>
        <a href="" class="nav__link link">Счетчик</a>
      </nav>
      <div class="header__buttons">
        @@if (!"login") {
          <a href="#" class="header__button header__button--login">Вход|Регистрация</a>
        }
        @@if ("login") {
          <a href="#" class="header__butto">Личный кабинет</a>
          <div class="header__button--block">
            <a href="#" class="header__button">Выход</a>
          </div>
        }
      </div>
    </div>
  </div>
</header>