$white: #fff;
$black: #000;

$darkBlue: #2E3B66;

$gray: #F4F5F7;
$grayDark: #3F4448;
$grayLight: #4F4F4F;
$grayShadow: #FFF4D2;

$yellow: #FAD361;
$yellowLight: #FFEBCC;
$yellow2: #FAD361;

$gold: #A2652C;
$darkGold: #DFB845;

$goldGradient: linear-gradient(180deg, #FFF4D2 0%, #FAD361 100%);

$textShadow: 0 4px 4px rgba(0, 0, 0, 0.25);

$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.25);

$transition: 0.3s;