@font-face {
                                font-family: SourceSerifPro;
                                font-display: swap;
                                src: url("../fonts/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Bold.woff1") format("woff1");
                                font-weight: 700;
                                font-style: normal;
                            }
@font-face {
                                font-family: SourceSerifPro;
                                font-display: swap;
                                src: url("../fonts/SourceSerifPro-Light.woff2") format("woff2"), url("../fonts/SourceSerifPro-Light.woff1") format("woff1");
                                font-weight: 300;
                                font-style: normal;
                            }
@font-face {
                                font-family: SpecialElite;
                                font-display: swap;
                                src: url("../fonts/SpecialElite-Regular.woff2") format("woff2"), url("../fonts/SpecialElite-Regular.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: SourceSerifPro;
                                font-display: swap;
                                src: url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff1") format("woff1");
                                font-weight: 400;
                                font-style: normal;
                            }
@font-face {
                                font-family: SourceSerifPro;
                                font-display: swap;
                                src: url("../fonts/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Semibold.woff1") format("woff1");
                                font-weight: 600;
                                font-style: normal;
                            }
