.about {
  padding: 60px 0 50px;
  background-image: url("../../img/abput_back_img.png");
  background-size: 30% 35%;
  background-position: 75% 15%;
  background-repeat: no-repeat;
  @include md {
    background-size: 50% 55%;
    background-position: 66% -2%;
  }
  .wrapper {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    @include md {
      flex-direction: column;
    }
    &__head {
      align-items: flex-start;
    }
  }
  &__images {
    width: 100%;
    position: relative;
    min-height: 766px;
  }
  &_img {
    &-main {
      position: absolute;
      top: 50%;
      right: 62px;
      transform: translateY(-50%);
    }
  }
  &__block {
    max-width: 240px;
    max-height: 240px;
    width: 100%;
    height: 100%;
    position: absolute;
    span {
      position: absolute;
      background: $white;
      border-radius: 3px;
      padding: 0 12px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: $black;
      top: 12px;
      right: 125px;
      white-space: nowrap;
    }
    &_1 {
      top: 28px;
      right: 0;
    }
    &_2 {
      top: 0;
      right: 270px;
      span {
        right: 128px;
        top: 70px;
      }
    }
    &_3 {
      top: 228px;
      right: 442px;
      span {
        right: -44px;
        top: auto;
        bottom: 88px;
      }
    }
    &_4 {
      top: auto;
      bottom: 28px;
      right: 358px;
      span {
        top: auto;
        bottom: 73px;
        right: 78px;
      }
    }
    &_5 {
      top: auto;
      right: 70px;
      bottom: 0;
      span {
        top: auto;
        bottom: 53px;
        right: -2px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__column {
    max-width: 422px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include md {
      order: -1;
      max-width: 100%;
    }
    .title {
      text-align: left;
    }
  }
}