.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
  color: $black;
  cursor: pointer;
  min-height: 50px;
  background: $gray;
  border: none;
  &-gold {
    background: $goldGradient;
  }
  &-white {
    box-shadow: 2px 2px 6px $grayShadow;
    font-size: 18px;
    line-height: 23px;
  }
  &-before {
    position: relative;
    min-height: 80px;
    border-radius: 20px;
    &:before {
      position: absolute;
      content: "";
      background: $darkGold;
      height: 100%;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 12px);
      z-index: -1;
      border-radius: 20px;
    }
  }
}