.logo {
  max-height: 64px;
  display: inline-flex;
  gap: 15px;
  align-items: center;
  max-width: 162px;
  text-decoration: none;
  color: $black;
  width: 100%;
  @include md {
    max-width: fit-content;
  }
  svg {
    max-height: 64px;
    max-width: 46px;
    @include lg {
      max-width: 32px;
      max-height: 44px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @include md {
      display: none;
    }
  }
  &_title {
    font-size: 26px;
    line-height: 26px;
    font-family: SpecialElite, serif;
  }
  &_subtitle {
    font-size: 10px;
    line-height: 10px;
    font-family: SpecialElite, serif;
  }
}