.plan {
  padding: 50px 0 60px;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 63px;
  }
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  &__block {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .text {
      margin: 15px 0;
    }
    img {
      height: 270px;
      width: 100%;
    }
    .swiper {
      width: 100%;
      height: 270px;
      position: relative;
      &-wrapper {
        width: 100%;
        height: 100%;
      }
      &-slide {
        width: 100%;
        height: 100%;
      }
      &-button {
        &-prev,
        &-next {
          position: absolute;
          top: 0;
          height: 100%;
          width: 53px;
          background: rgba($black, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 50px;
            height: 50px;
          }
        }
        &-next {
          right: 0;
        }
        &-prev {
          left: 0;
        }
      }
    }
  }
  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  &_name {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: $grayLight;
  }
  &__info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: $grayLight;
    }
  }
}