.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.3s;
  overflow-y: hidden;
  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease 0s;
    .popup__content {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.3s ease 0.3s, transform 0.6s ease 0.3s;
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    background: rgba(#000000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow-y: hidden;
  }
  &__content {
    cursor: default;
    max-width: 1000px;
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease 0s, transform 0.6s ease 0s;
    overflow-y: hidden;
  }
  &__block {
    width: 500px;
    height: 739px;
    padding: 40px 37px 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    &:nth-child(2) {
      padding: 40px 50px 27px;
    }
    @include xs {
      width: 100%;
      max-height: 90vh;
      height: fit-content;
      overflow-y: scroll;
      padding: 20px !important;
    }
    &-image {
      padding: 0;
      @include sm {
        display: none;
      }
      img {
        width: 100%;
      }
      &-full {
        gap: 10px;
        max-width: 1000px;
        width: 100%;
        padding: 26px 41px 100px;

        img,
        video {
          max-width: 918px;
          width: 100%;
        }
        .text {
          font-weight: 400;
          font-size: 26px;
          line-height: 33px;
        }
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin-top: auto;
      span {
        color: $black;
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
      }
      button {
        min-width: 100%;
      }
    }
    .subtitle {
      color: $black;
      text-shadow: $textShadow;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 6px;
      text-align: left;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: decimal;
      &_item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: $black;
      }
      &_mark {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: #A2652C;
        text-shadow: $textShadow;
      }
    }
    .form {
      align-items: center;
      max-width: 368px;
      gap: 20px;
      button {
        min-width: 100%;
        margin-top: 16px;
      }
      &_row {
        margin-bottom: 4px;
      }
    }
  }
}