.title {
  color: $black;
  &-h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: $gold;
    text-shadow: $textShadow;
    display: flex;
    flex-direction: column;
    span {
      font-weight: 300;
      font-size: 60px;
      line-height: 75px;
      margin-bottom: -14px;
    }
  }
}